@import url("file:///home/arcy/.cache/wal/colors-waybar.css");

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 15px;
    font-weight: bold;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}

#workspaces button {
    padding: 0 4px;
    color: @foreground;
    background: transparent;
    border-bottom: 3px solid @background;
}
#workspaces button.active {
    color: @color2;
    border-bottom: 3px solid @color1;
}
#workspaces button.empty {
    color: @color8;
}
#workspaces button.empty.active {
    color: @color2;
    border-bottom: 3px solid @color1;
}

#workspaces button.urgent {
    background-color: @color2;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
    padding: 0 6px;
    color: @color2;
}

#custom-sep {
    color: @color8;
}

#clock {
    color: @color1;
    border-bottom: 4px solid @color1;
}

#battery {
    color: @color6;
    border-bottom: 4px solid @color6;
}

#disk {
    color: @color5;
    border-bottom: 4px solid @color5;
}

#memory {
    color: @color4;
    border-bottom: 4px solid @color4;
}

#cpu {
    color: @color3;
    border-bottom: 4px solid @color3;
}

#network {
    color: @color5;
    border-bottom: 4px solid @color5;
}

#network.disconnected {
    background-color: @color12;
}

#tray {
    background-color: @color8;
}

